
.centerlogo{
	height: 270px;
}

 #logo{
	 width: 40%;
	 height: 290px;
	right: 300px;
	
 }  
   *{
	margin-right: auto;
	margin-left: auto;
}
html {
	background-color: #2196F3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.wrapper{
    width: 960px;
    margin:auto;
}

li{
	display: inline;
	margin-top: 10px;
}

li a{
    color: #baddea;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
    font-weight: 400;
    padding:15px;
} 

li a:hover{
    background-color: #2196F3;
    color: white;
    padding: 15px;
}

.footerContent{
    padding: 20px;
}

.footerCopyright{
    background-color: #333;
}

.footerText{
	font-size: 10px;
    color: #fff;
	padding: 20px;
}

#subpageTop{
    margin-left:auto;
    margin-right: auto;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background-color: #2196F3;
}
#footer {
	clear: both;
    background-color: #42484d;
    margin-top: 0px;
}
.contentRight {
	float: right;
	width: 507px;
}
#contentWrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F9F9F9;
	float: left;
    padding-bottom: 30px;
}
.contentLeft {
	width: 439px;
	float: left;
}

.subpageHeader{
	font-family: open-sans;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	color: #fff;
    padding: 40px;
}

h1{
	width: 100%;
	font-family: open-sans;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	color: #FF675B;
}

#navBar {
	width: 100%;
	background-color: #003A6E;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	margin-top: 40px;
	left: auto;
	right: auto;
	float: left;
	margin-bottom: 40px;
}

.headerPhone{
    float: right;
}

#columns{
    float: left;
    margin-right: 3px;
    margin-left: 3px;
}

#subfooter{
	color: white;
    clear: both;
    background-color: #003A6E;
    width: 100%;
    padding: 20px;
    margin-left: 0px;
	float: left;
}
#header {
	background-color: #2196F3;

}
#navBar ul {
	margin-left: auto;
	margin-right: auto;
	left: 50%;
	right: 50%;
}
.navLeft {
	float: left;
	clear: both;
	display: block;
}
.textLogo {
	margin-top: 40px;
	color: #D3E9F1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 50px;
}
#headline {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	background-color: #FFFFFF;
	margin-top: -4px;
}
#headline h1 {
	font-family: open-sans;
	font-style: normal;
	font-weight: 300;
	color: #000000;
}
#contentSize {
	width: 960px;
	margin-bottom: 40px;
}

.containerFooter{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.leftFooter{
	float: left;
	margin:10px;
	width: 300px;
	border-right:#333;
}

.middleFooter{
	float: left;
	margin: 10px;
	width: 300px;
}

.rightFooter{
	float: right;
	margin: 10px;
	width:300px;
}

.button h4{
	padding-top: 3px;
	Padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
	border-radius: 5px;
	background-color: #777;
	color: #fff;
}



#contact{
    margin-top: 20px;
    clear:both;
    padding: 20px;
}

#contact h1{
    text-align: center;
}

input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-size: 18px;
    background-color: #D3E9F1;
    font-family: 'Open Sans', sans-serif;
    color: #4BAAD3;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

form{
    font-family: 'Open Sans', sans-serif;
}

button{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FF675B;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
}

button:hover{
    background-color: #DD5951;
}



/* FORMULARIO =================================== */

.form_wrap{
    width: 1050px;
    height: 580px;
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}


.form_Estudiante{
  width: 1050px;
  height: 1080px;
  margin: 50px auto;
  display: flex;

  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.form_Docente{
  width: 1050px;
  height: auto;
  margin: 50px auto;
  display: flex;

  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #4091EC;
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../img/Fondo\ Estudiantes.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}

.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact textarea{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;

    border: none;
    border-bottom: 2px solid #D1D1D1;

    font-family: 'Open sans';
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact textarea{
    max-width: 100%;
    min-width: 100%;
    max-height: 90px;
}

form.form_contact input[type="button"]{
    width: 180px;
	background: #4091EC;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="button"]:hover{
    background: #3371B6;
}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}

.carousel-cell {
    width: 66%;
    height: 300px;
    margin-right: 10px;
    background: white;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }

/* 
  CSS PARA TABLA CALIFICACIONES */
  Side Navigation Menu V2, RWD
            ===================
            License:
            https://goo.gl/EaUPrt
            ===================
            Author: @PableraShow
        
         */
        
        @charset "UTF-8";
        @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
        

        
        h1 {
          font-size:3em; 
          font-weight: 300;
          line-height:1em;
          text-align: center;
          color: #4DC3FA;
        }
        
        h2 {
          font-size:1em; 
          font-weight: 300;
          text-align: center;
          display: block;
          line-height:1em;
          padding-bottom: 2em;
   
        }
        
        h2 a {
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
        }
        
        .blue { color: #185875; }
        .yellow { color: #FFF842; }
        
        .tablaCalificaciones th h1 {
              font-weight: bold;
              font-size: 1em;
          text-align: left;
          color: white;
        }
        
        .tablaCalificaciones td {
              font-weight: normal;
              font-size: 1em;
          -webkit-box-shadow: 0 2px 2px -2px #0E1119;
               -moz-box-shadow: 0 2px 2px -2px #0E1119;
                    box-shadow: 0 2px 2px -2px #0E1119;
        }
        
        .tablaCalificaciones {
              text-align: left;
              overflow: hidden;
              width: 90%;
              margin: 0 ;
          display: table;
          padding: 0 0 8em 0;
          position: relative;
          top: -90px;
          right: -30px;
        }
        
        .tablaCalificaciones  td, .tablaCalificaciones th {
              padding-bottom: 2%;
              padding-top: 2%;
          padding-left:2%;  
        }
        
        /* Background-color of the odd rows */
        .tablaCalificaciones tr:nth-child(odd) {
              background-color: #F9F9F9;
        }
        
        /* Background-color of the even rows */
        .tablaCalificaciones tr:nth-child(even) {
              background-color: #F9F9F9
        }
        
        .tablaCalificaciones th {
              background-color: #003A6E;
        }
        
        .tablaCalificaciones td:first-child { color: #FB667A; }
        
        .tablaCalificaciones tr:hover {
            /* color cuando se selecciona */
           background-color: white;  
        -webkit-box-shadow: 0 6px 6px -6px #003A6E;
               -moz-box-shadow: 0 6px 6px -6px #003A6E;
                    box-shadow: 0 6px 6px -6px #003A6E;
        }
        
        .tablaCalificaciones td:hover {
          background-color: #FFF842;
          color: #403E10;
          font-weight: bold;
          
          box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
          transform: translate3d(6px, -6px, 0);
          
          transition-delay: 0s;
              transition-duration: 0.4s;
              transition-property: all;
          transition-timing-function: line;
        }
        
        @media (max-width: 800px) {
        .tablaCalificaciones td:nth-child(4),
        .tablaCalificaciones th:nth-child(4) { display: none; }
        }



        .tituloCalificaciones{
            position: relative;
          top: -30px;
        }


        select {

            /* styling */
            background-color: white;
            border: thin solid blue;
            border-radius: 4px;
            display: inline-block;
            font: inherit;
            line-height: 1.5em;
            padding: 0.5em 3.5em 0.5em 1em;
          
            /* reset */
          height: 8%;
            margin: 0;   
            position: relative;   
            left: 300px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
          }


          select.classic:focus {
            background-image:
              linear-gradient(45deg, white 50%, transparent 50%),
              linear-gradient(135deg, transparent 50%, white 50%),
              linear-gradient(to right, gray, gray);
            background-position:
              calc(100% - 15px) 1em,
              calc(100% - 20px) 1em,
              100% 0;
            background-size:
              5px 5px,
              5px 5px,
              2.5em 2.5em;
            background-repeat: no-repeat;
            border-color: grey;
            outline: 0;
          }
          
          
          
          
          select.round {
            background-image:
              linear-gradient(45deg, transparent 50%, gray 50%),
              linear-gradient(135deg, gray 50%, transparent 50%),
              radial-gradient(#ddd 70%, transparent 72%);
            background-position:
              calc(100% - 20px) calc(1em + 2px),
              calc(100% - 15px) calc(1em + 2px),
              calc(100% - .5em) .5em;
            background-size:
              5px 5px,
              5px 5px,
              1.5em 1.5em;
            background-repeat: no-repeat;
          }
          
          select.round:focus {
            background-image:
              linear-gradient(45deg, white 50%, transparent 50%),
              linear-gradient(135deg, transparent 50%, white 50%),
              radial-gradient(gray 70%, transparent 72%);
            background-position:
              calc(100% - 15px) 1em,
              calc(100% - 20px) 1em,
              calc(100% - .5em) .5em;
            background-size:
              5px 5px,
              5px 5px,
              1.5em 1.5em;
            background-repeat: no-repeat;
            border-color: green;
            outline: 0;
          }
          select.classic {
            background-image:
              linear-gradient(45deg, transparent 50%, blue 50%),
              linear-gradient(135deg, blue 50%, transparent 50%),
              linear-gradient(to right, skyblue, skyblue);
            background-position:
              calc(100% - 20px) calc(1em + 2px),
              calc(100% - 15px) calc(1em + 2px),
              100% 0;
            background-size:
              5px 5px,
              5px 5px,
              2.5em 2.5em;
            background-repeat: no-repeat;
            top: -80px;
            left: 25%;
          }          


          .bubu{
              position: relative;
              top: -100px;
          }
      
         /*BUTON 3*/

         .button3 {
          background-color: #3371B6; /* Green */
          border: none;
          color: white;
          padding: 16px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          transition-duration: 0.4s;
          cursor: pointer;
        }
        .button3 {
          background-color: white; 
          color: black; 
          border: 2px solid #3371B6;
        }
        
        .button3:hover {
          background-color: #3371B6;
          color: white;
        }
        
        .button3 span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
        }
        
        .button3 span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }
        
        .button3:hover span {
          padding-right: 25px;
        }
        
        .button3:hover span:after {
          opacity: 1;
          right: 0;
        }

        /*BOTON REGRESAR*/
        .buttonRegresar {
          background-color: red; /* Green */
          border: none;
          color: white;
          padding: 16px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          transition-duration: 0.4s;
          cursor: pointer;
        }
        .buttonRegresar {
          background-color: white; 
          color: black; 
          border: 2px solid red;
        }
        
        .buttonRegresar:hover {
          background-color: red;
          color: white;
        }
        
        .buttonRegresar span {
          cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
        }
        
        .buttonRegresar span:after {
          content: '\00bb';
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
        }
        
        .buttonRegresar:hover span {
          padding-right: 25px;
        }
        
        .buttonRegresar:hover span:after {
          opacity: 1;
          right: 0;
        }

        /*TITULO ADMIN*/
        #TituloAdmin{
          color: #3371B6;
        }



        /*FORMULARIO DE ESTUDIAANTES Y PROFESORES*/

        input[type=text] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        
        
        input[type=email] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        input[type=password] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        input[type=submit] {
          width: 100%;
          background-color: #3371B6;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #3371B6;
        }
        
        .FormularioCentral{
          width: 900px;
          height: 600px;
        }

        .FormularioCentral_Profesor{
          width: 900px;
          height: 1500pxpx;
        }


        

